h1,
h2 {
  font-family: Lato;
}

.abc {
  background-color: green;
  color: white;
  padding: 8px;
  box-sizing: border-box;
}

.parent > div {
  width: 50%;
  height: 30px;
  border: 1px solid red;
}
